<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center bg-secondary-theme">
                    <h3>All Subscribers</h3>
                    <p>From here you can manage your subscribers</p>
                    <button class="btn btn-warning ms-2" [routerLink]="''">Back to Dashboard</button>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect my-3">
                <div class="card-body">
                    <table class="table table-striped p-3">
                        <thead>
                            <tr class="text-center">
                                <th>no</th>
                                <th >name</th>
                                <th >email</th>
                                <th >Actions</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let subscriber of subscribers;let i = index" class="text-center">
                                <td >{{i+1}}</td>
                                <td>{{subscriber.data.name}}</td>
                                <td >{{subscriber.data.email}}</td>
                                <td >
                                    
                                    <button class="btn btn-danger ms-3 btn-sm" (click)="onDelete(subscriber.id)">Delete</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>