<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 dashboard-theme" [routerLink]="'category'">
            <div class="card shadow-effect text-center">
                <div class="card-body bg-secondary-theme">
                    <h2><i class="fas fa-clipboard-list text-primary-color"></i></h2>
                    <h3 class="text-primary-color">Category</h3>
                    <small>Manage your category details here</small>
                </div>
            </div>
        </div>
        <div class="col-md-3 dashboard-theme" [routerLink]="'posts'">
            <div class="card shadow-effect text-center">
                <div class="card-body bg-secondary-theme">
                    <h2><i class="fas fa-file-image text-primary-color"></i></h2>
                    <h3 class="text-primary-color">Posts</h3>
                    <small>Manage your post details here</small>
                </div>
            </div>
        </div>
        <div class="col-md-3 dashboard-theme" [routerLink]="'subscription'">
            <div class="card shadow-effect text-center">
                <div class="card-body bg-secondary-theme">
                    <h2><i class="fas fa-users text-primary-color"></i></h2>
                    <h3 class="text-primary-color">Subscriber</h3>
                    <small>Manage your post details here</small>
                </div>
            </div>
        </div>
    </div>
</div>