<footer>
    <div class="container-fluid shadow-effect pt-4">
        <div class="row">
            <div class="col text-center">
                <div class="site-logo bg-secondary-theme text-primary-color mx-auto">Ang-blog</div>
                <nav class="navbar navbar-expand-lg">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Terms & Conditions</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
                    </ul>
                </nav>
                <p>copyright &copy; 2023 angular-blog</p>
            </div>
        </div>
    </div>
    
</footer>

